### IntelliJ IDEA ###
out/
!**/src/main/**/out/
!**/src/test/**/out/

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store

### IntelliJ IDEA ###
.idea/
out/
*.iml


### Build directories ###
bin/
out/
target/
build/

### Compiled class files ###
*.class



### Log and output files ###
output.txt


### Backup and temporary files ###
*.log
*.tmp
*.swp
*~

### Gradle / Maven (if auto-added by IntelliJ)
.gradle/
.mvn/
